<div title="character-name">
	<input type="text" placeholder="character name" ng-model="character.name" />
</div>
	<input type="number" placeholder="level" min="1" max="20" ng-model="character.level" />
	<select ng-model="character.class" ng-change="updateFlavorText('class')">
		<option ng-repeat="class in classes" value="{{ class.value }}">{{ class.value }}</option>
	</select>
</div>
<div>
	<label>Alignment</label>
	<select ng-model="character.alignment" ng-change="updateFlavorText('alignment')">
		<option ng-repeat="alignment in alignments" value="{{ alignment.value }}">{{ alignment.value }}</option>
	</select>
</div>
<div>
	<label>Race</label>
	<select ng-model="character.race" ng-change="updateFlavorText('race')">
		<option ng-repeat="race in races" value="{{ race.value }}">{{ race.value }}</option>
	</select>
</div>
<br />
<br />
<div style="border: solid black 1px; padding: 5px">
	<div>{{ text }}</div>
</div>
<br />
<br />
<div style="visibility: hidden">
	<p>Name: {{ character.name }}</p>
	<p>Level: {{ character.level }}</p>
	<p>Class: {{ character.class }}</p>
	<p>Alignment: {{ character.alignment }}</p>
	<p>Race: {{ character.race }}</p>
</div>